ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 250px 50px;
    margin-bottom: 50px;
    height: auto;
    color: #444;
    background-color: rgba(44, 244, 14, .1);
    border-style: solid;
    border-width: 2px;
    border-top-color: #fff;
    border-right-color: #fff;
    border-left-color: #fff;
    border-bottom-color: rgb(231, 231, 231);
    height: 70px;
}
li {
    margin-top: 10px;
    font-size: 36px;
    height: 50px;
    
}
li img{
    margin-bottom: 10px;
    height: 50px;
    width: 50px;  
}

li a{
    color: inherit;
}
